/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #312f33;
	z-index: 9999;
	overflow: scroll;
}

.overlay .container {
    padding: 3%;
    width: 100%;
    max-width: 1170px;
}

/* Overlay closing cross */
.overlay .overlay-close {
	width: 25px;
	height: 25px;
	position: absolute;
	right: 50px;
	top: 75px;
	overflow: hidden;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	text-indent: 200%;
	color: transparent;
	outline: none;
	z-index: 100;
}

/* Menu style */

.overlay .top, .overlay .bottom {
    width: 100%;
    border-bottom: 1px solid #6f6e71;
    display: inline-block;
	padding: 75px 0px;
}

.overlay h3, .overlay h3 a, .overlay h3 a:link, .overlay h3:visited {
    color: #efc64b;
    text-transform: none;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Uni Neue Regular', sans-serif;
}

.overlay h3:hover {
 text-decoration: none;
}

.overlay ul {
	padding: 0px;
	margin: 0 0 10px 0;
}

.overlay ul li {
    list-style: none;
    color: #fff;
    font-size: 13px;
    padding: 0 0 8px 0;
	margin: 0px;
    line-height: 140%;
    font-family: 'Uni Neue Regular', sans-serif;
}

.overlay ul li a, .overlay ul li a:link, .overlay ul li a:visited {
    color: #fff;
    font-size: 13px;
    padding-bottom: 8px;
    line-height: 140%;
	text-decoration: none;
    font-family: 'Uni Neue Regular', sans-serif;
}

.overlay ul li a:hover {
	text-decoration: underline;
}

.overlay .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 75px 0px;
}

.overlay .links .btn {
    background: #000000;
    color: #efc64b;
    font-size: 16px;
    padding: 20px 30px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

.overlay .links .btn:hover {
	color: #000000;
}

/* Effects */
.overlay-slidedown {
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
	transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
	visibility: visible;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	-webkit-transition: -webkit-transform 0.4s ease-in-out;
	transition: transform 0.4s ease-in-out;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

