/* Large Devices, Wide Screens */
@media only screen and (max-width : 1800px) {

 .navbar-default div.collapse.navbar-collapse{display:none !important; }
}

@media only screen and (max-width : 1199px) {
    figure.effect-feature h2 {
        font-size: 25px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 1024px) {
    .grid figure{max-height:230px;}
    h5 {font-size: 27px;}
    h1 {font-size: 52px;}
    .push-down .col-md-6 { padding: 0 30px;}
    #home .looking-for h3, #dva-home .looking-for h3, #jobs-home .looking-for h3 {
        font-size: 37px;
    }
    
    #home .looking-for, #dva-home .looking-for, #jobs-home .looking-for {
        background-position: right 70px center;
        background-size: 70px 77px;
        left: 50%;
        bottom: 40px;
        margin-left: -358px;
        max-width: 717px;
        padding: 35px 70px;
        width: 100%;
    }
   
    figure.effect-feature h2{font-size: 35px;}

    #feature .container{padding:0;}
    #feature{padding: 80px 15px;}
    
    figure.effect-feature p {
        line-height: 1.2;
        padding: 20px;
    }
    #home h1, #dva-home h1 {
        font-size: 56px;
    }
    #home .btn, 
    #dva-home .btn,
    #media .btn{font-size: 13px; padding: 15px 20px;}
    #home, #dva-home{height:768px;}
    
    .navbar-default .navbar-header {
        padding: 0 0 30px 25px;
    }

    .navbar-default .navbar-header img:first-of-type {
        height: auto;
        max-width: 92px;
    }
    .navbar-default .navbar-header img:last-of-type{
        height:auto;
        max-width: 165px;
    }
    .navbar-buttons img {
        margin: 0 0 0 25px;
    }
    .navbar-buttons {
        padding: 22px 25px 10px 0;
    }
    .navbar-buttons img:first-of-type {
        height: auto;
        width: 40px;
    }
    #media .media {
        margin-top: 40px;
        padding-bottom: 40px;
    }
    #video, #feature, #subscribe #contact, #media, #team, #gallery, #contact {
        padding-bottom: 80px;
        padding-top: 80px;
    }
    #media h3.media-heading {font-size:20px;}
    #media p.date{font-size: 11px;margin: 0 0 15px;}
    #media p{font-size: 13px;}
    
    footer {
        padding-top: 0px;
        padding-bottom:40px;
    }
    footer p,
    footer h3{font-size:14px;}
    
    footer li{font-size: 13px;}
    footer .social{
        margin:40px 0;
    }
    #copyright{padding: 35px 15px;}
    #copyright a{font-size: 12px;line-height: 1.5;}
    #copyright p{text-align: center;font-size: 12px;line-height: 1.5;}
    #copyright .copyrightArea p{text-align: left;padding-right: 70px;}

    .enquiries-left .links .btn {font-size: 14px;margin: 0;}
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {
    .grid figure{width:31%;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .grid figure{width:48%;}
    #video .ms-info {padding: 0 15px;width: 100%;}
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .grid figure{max-height:170px;}
     .page-content .navbar-default {
        background-color: rgba(0, 0, 0, 0.9) !important;
    }
    .navbar-default .navbar-header-top{display:none;}
    .navbar-default .navbar-header,
    .navbar-buttons{padding:0;}
    .navbar-buttons{top:9px;position: relative;}
    #home .looking-for h3, #dva-home .looking-for h3, #jobs-home .looking-for h3 {font-size: 22px;}
    #home .looking-for p, #dva-home .looking-for p, #jobs-home .looking-for p{font-size: 16px;}
    #home .looking-for, #dva-home .looking-for, #jobs-home .looking-for{left:0;right:0;bottom:0;margin-left: 0;background-position: right 15px center;background-size: 30px 37px;padding: 25px;}
    .navbar-default {background: rgba(0, 0, 0, 0.9);padding: 10px 15px;}
    .collapse.navbar-collapse{display:none;}
    
    .navbar-default .navbar-header img {margin-right: 10px;}
    .navbar-default .navbar-header img:first-of-type {max-width: 80px;}
    .navbar-default .navbar-header img:last-of-type {max-width: 110px;}
    #home h1, #dva-home h1 {font-size: 34px;text-align: center;}
    .navbar-default .navbar-header-top{display: none;}
    #home, #dva-home {height: 500px;}
    figure.effect-feature h2 {font-size: 24px;}
    figure.effect-feature p {padding: 10px;}
    #video .ms-info {padding: 0;}
    #video{padding-top:0;padding-bottom: 10px;}
    #video .ms-info p.date{text-align: center;}
    #feature{padding:40px 15px;}
    .ms-info a.btn{display:none;}
    #video .ms-slide-info{margin-top:0 !important;}
    #video .video-btn .row{margin-top:0;}
    #video .ms-info h3{text-align: center; padding: 0 40px;font-size: 20px;}
    #media .media-left, #media .media > .pull-left {padding-right: 20px;width: 45%;}
    #media .media-excerpt{display:none;}
    #media .media:first-of-type {margin-top: 0;}
    footer .col-xs-6,
    footer .col-xs-6 h3,
    footer .col-xs-6 p,
    .copyrightLinks,
    .copyrightLogos{text-align: center;}
    #copyright p{margin-bottom:15px;}
    #copyright .copyrightArea p {text-align: center;padding-right:0;}
    .copyrightLinks p{max-width: 200px;margin:0 auto;position:relative;max-width: 300px;
    position: relative;}
    #copyright img {float: none;margin: 15px 0 0 15px;}
    .overlay .overlay-close{top:30px;right:30px;}
    .top .col-sm-4,
    .bottom .col-sm-4{padding:0px 15px;}
    .overlay .container {padding: 0 15px;}
    .top div.col-md-3:first-of-type,
    .bottom div.col-md-3:first-of-type{margin-bottom: 45px;}

    .top div.col-md-3,
    .bottom div.col-md-3{margin-top:45px;}

    .overlay,
    .overlay h3,
    .overlay ul{text-align: center;}
    #subscribe{text-align: center;}
    #subscribe input{width:100%;margin-bottom:30px;}
    #subscribe .btn{float:none;margin:0 auto;width:150px;}

    .push-down {display:none;}
    .overlay .links .btn,
    #contact .links .btn {
        margin: 0 0 15px;
        width: 80%;
    }

    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}