sup {
    display: none;
}

body {
		background: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
	}

html,body {
  width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 100%;
}
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

/* Typography */
.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

/* hover min css */
.hvr-bounce-to-bottom:before,
.hvr-bounce-to-top:before {
  background-color: #efc64b;
}


/* All Section styles */
#video,
#feature,
#subscribe
#contact,
#media,
#team,
#gallery,
#contact {
  color: #656565;
  padding-top: 100px;
  padding-bottom: 100px;
}

#feature,
#subscribe
#contact,
#team,
#gallery,
#contact {
  text-align: center;
}

#feature {
  background:  #ffffff;
}

#title {
  background:  #ffffff;
	padding: 70px 0;
}

#content {
	padding: 70px 0;
}


/* section title */
.section-title {
  padding-bottom: 70px;
}
#video .section-title,
#media .section-title {
  text-align: center;
}
#contact .section-title {
  color: #f0f0f0;
}



/* Preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


/* Home section */
#home, #dva-home {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  text-align: center;
  height: 1000px;
  overflow: hidden;
  position: relative;
}


#jobs-home {
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
        align-items: center;
  text-align: center;
  height: 800px;
  overflow: hidden;
  position: relative;
}

.vetAffairs #jobs-home{height: 800px;}



#home .col-md-offset-2, #dva-home .col-md-offset-2, #jobs-home .col-md-offset-2 {
  margin-left: 0px;
}

#home .btn, #dva-home .btn {
  background: #000000;
  color: #efc64b;
  font-size: 16px;
  padding: 20px 30px;
  margin-top: 34px;
  border-radius: 0px 0px 0px 0px; 
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 0px solid #000000;
  text-transform: uppercase;
  text-decoration: none;
	float: left;
  font-family: 'Uni Neue Bold', sans-serif;
}

#jobs-home .btn {
  background: #000000;
  color: #efc64b;
  font-size: 16px;
  padding: 20px 30px;
  margin-top: 34px;
  border-radius: 0px 0px 0px 0px; 
  -moz-border-radius: 0px 0px 0px 0px;
  -webkit-border-radius: 0px 0px 0px 0px;
  border: 0px solid #000000;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Uni Neue Bold', sans-serif;
}

#home .btn:hover,
#home .btn:focus,
#dva-home .btn:hover,
#dva-home .btn:focus,
#jobs-home .btn:hover,
#jobs-home .btn:focus {
  color: #000000;
}

#home h1, #dva-home h1 {
	text-transform:  none;
	font-size: 100px;
	font-weight: 500;
	color: #fff;
	line-height: 100%;
    font-family: 'Uni Neue Book', sans-serif;
}

#jobs-home h1 {
	text-transform:  none;
	font-size: 105px;
	font-weight: 500;
	color: #fff;
	line-height: 100%;
	text-align: center;
    font-family: 'Uni Neue Book', sans-serif;
}

.vetAffairs #jobs-home h1 {
    color: #fff;
    font-family: "Uni Neue ",sans-serif;
    font-size: 120px;
    font-weight: 500;
    line-height: 100%;
    text-align: center;
    text-transform: none;
}

#home .looking-for, #dva-home .looking-for, #jobs-home .looking-for {
    background-color: rgba(62, 167, 171, 0.8);
    background-image: url(../images/arrow.png);
    background-position: right 168px center;
    background-repeat: no-repeat;
    background-size: 80px 87px;
	padding: 50px 350px 50px 150px;
	position: absolute;
	bottom: 75px;
	display: block;
    max-width: 1170px;
}

#home .looking-for h3, #dva-home .looking-for h3, #jobs-home .looking-for h3 {
 	color: #fff;
    font-size: 53px;
    text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
    line-height: 100%;
    margin-bottom: 5px;
}

#home .looking-for p, #dva-home .looking-for p, #jobs-home .looking-for p {
	color: #000;
    font-size: 26px;
    text-transform: uppercase;
    line-height: 100%;
    font-family: 'Uni Neue Bold', sans-serif;
    margin-bottom: 0px;
}


/* Navigation section */
.navbar-default {
    background-color: #1d1c1f; 
	border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
    margin: 0 !important;
    border-bottom: 1px solid;
	border-color: rgba(255, 255, 255, 0.5);
	position: relative;
	top: 0;
	z-index: 999;
	border-radius: 0px;
	width: 100%;
}

.home .navbar-default {
	position: absolute;
	box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.04);
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.navbar-default .navbar-header-top {
    float: left;
    width: 100%;
    display: block;
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

.navbar-default .navbar-header-top p{
	color: #ffffff;
	text-align: right;
	display: inline-block;
    float: right;
    font-family: 'Uni Neue Bold', sans-serif;
	font-size: 13px;
	margin-bottom: 0px;
	padding: 8px 20px 0 0;
}

.navbar-default .navbar-header-top a{
	color: #efc64b;
	text-decoration: none;
}

.navbar-header-top img {
    margin: -2px 20px 0px 10px;
}

.navbar-default .navbar-header-top .btn {
    background: #ffffff;
    color: #000000;
    font-size: 13px;
    padding: 10px 25px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

.navbar-header-top a.btn {
    display: inline-block;
    float: right;
}

.navbar-default .navbar-header {
    float: left;
    padding: 0px 0px 30px 40px;
}

.navbar-default .navbar-header img {
	margin-right: 30px;
}

.navbar-default .navbar-brand {
  color: #505050;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 40px;
  margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    display: inline-block !important;
    float: right;
}

.navbar-nav {
    float: left;
    margin: 30px 0 0 0;
}

.navbar-default .navbar-nav li a {
    color: #ffffff;    
	font-family: 'Uni Neue Regular', sans-serif;
    font-size: 18px;
	text-decoration: none;
    font-weight: 500;
    line-height: 100%;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    padding: 15px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #efc64b !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #efc64b;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #efc64b;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.navbar-default .navbar-right {
	margin-right: 0px;
}

.navbar-default a.urgent {
    background: #a98838;
    color: #000 !important;
}

.navbar-default a.urgent:hover {
    background: #a98838;
    color: #000;
}

.navbar-buttons {
    display: inline-block;
    float: right;
    padding: 25px 50px 10px 0px;
}

.navbar-buttons img {
    margin: 0 0 0 50px;
}


/* Mega Menu */

.navbar-nav li.dropdown {
    width: inherit;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #efc64b;
    background-color: transparent;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0px;
  background: #312f33;
}

.mega-dropdown {
  position: static !important;
  width: 100%;
}

.mega-dropdown-menu {
  padding: 55px 0px 80px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
	border-radius: 0px;
}

.navbar-default .navbar-nav .mega-dropdown-menu li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.navbar-default .navbar-nav .mega-dropdown-menu li.dropdown-header a, .navbar-default .navbar-nav .mega-dropdown-menu li.dropdown-header {
  color: #efc64b;
  text-transform: none;
  padding: 0px;
  margin: 0 0 10px 0;
  font-size: 16px;
      white-space: normal;
  font-family: 'Uni Neue Regular', sans-serif;
}

.navbar-default .navbar-nav .mega-dropdown-menu li.dropdown-header a:hover {
  text-decoration: underline;
}

.navbar-default .navbar-nav .mega-dropdown-menu li a, .navbar-default .navbar-nav .mega-dropdown-menu li {
  color: #ffffff;
  text-transform: none;
  padding: 0px;
  margin: 0 0 10px 0;
  font-size: 14px;
  font-family: 'Uni Neue Regular', sans-serif;
}

.mega-dropdown-menu .col-sm-3 {
    width: 25%;
    margin: 0;
    padding: 0;
}

.mega-dropdown-menu li.col-sm-3 ul {
	margin: 0px;
	padding: 0px;
}

.mega-dropdown-menu li.col-sm-3 ul > ul {
	
}

.mega-dropdown-menu li.col-sm-3 ul > ul > li {
     background-image: url(../images/meun_arrow.png);
    background-repeat: no-repeat;
    background-position: 9px 8px;
    padding: 0 0 0 25px !important;
    background-size: 8px 9px;
}


/* Vetwell DVA Push Down  */

.page-content{
  position: relative;
}

.push-down{
    background-color: #312f33;
    height: 850px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
	text-align: center;
    transform: translateY(-100%);
	padding: 10% 0;
}
.push-down .col-md-6 {
    padding: 0 60px;
}

.push-down .vertical-float.logo_wrap {
    display: table;
    height: 108px;
    line-height: 108px;
    margin-bottom: 30px;
    width: 100%;
}


.push-down .vertical-float.logo_wrap img {
    vertical-align: middle;
}

.PushDownCloseButton {
    position: absolute;
    right: 75px;
    top: 75px;
}
.PushDownCloseButton a{color:#fff;}

.push-down p {
    color: #fff;
    font-family: "Uni Neue Regular",sans-serif;
    font-size: 16px;
    line-height: 1.7;
    padding-bottom: 8px;
    text-align: center;
}

.push-down .btn {
    background: #312f33;
    color: #efc64b !important;
    font-size: 16px;
	border: 1px solid #efc64b !important;
    padding: 20px 30px;
    margin-top: 34px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: 'Uni Neue Bold', sans-serif;
}

.push-down .btn:hover {
    color: #000000 !important;
}

.content{
    transition: margin 0.6s ease;
}


.page-content.pushed .content{
   margin-top: 850px;
}

/* Subscribe section  */
#subscribe {
  background: url('../images/subscribe-bg.jpg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  color: #999;
  padding: 100px 0 90px;
}

#subscribe h2 {
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    line-height: 100%;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
}

#subscribe .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

#subscribe .btn {
    background: #000000;
    color: #efc64b;
    font-size: 16px;
    padding: 20px 0px;
    margin: 0 0 0 2%;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
	width: 28%;
	float: left;
}

#subscribe .btn:hover {
    color: #000000;
}

#subscribe input {
    width: 65%;
    height: 60px;
	font-size: 14px;
	text-transform: none;
    font-family: 'Uniform', sans-serif;
	padding: 20px;
	color: #000;
	float: left;
}


/* Subscribe section  */
#contact {
    background: url(../images/contact_bg.jpg);
    position: relative;
    color: #999;
    padding: 100px 0 90px;
    background-position: 0px 50%;
    background-size: cover;
}

#contact h2 {
    color: #ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 40px;
    line-height: 100%;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
}

#contact .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

#contact .links .btn {
    background: #000000;
    color: #efc64b;
    font-size: 16px;
    padding: 20px 30px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

#contact .links .btn:hover {
    color: #000000;
}


/* Media section */

#media h2 {
    font-family: 'Uni Neue Regular', sans-serif;
	text-align: center;
	font-size: 36px;
	color: #00000c;
}

#media h3.mediaH3{
    font-family: 'Uni Neue Regular', sans-serif;
    text-align: center;
	font-size: 30px;
    margin-bottom:66px;
	color: #00000c;
}

#media .media {
    padding-bottom: 50px;
	margin-top: 50px;
    border-bottom: 1px solid #ededeb;
}

#media .media-left, #media .media>.pull-left {
    padding-right: 40px;
}

#media .media-object img {
  width: 290px;
  position: relative;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}

#media .media-object span.media-price {
  position: absolute;
  background-color: #ffffff;
  color: #222;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
  top: 50%;
  left: 3%;
}

#media h3.media-heading {
    font-size: 26px;
    font-weight: 700;
	margin-bottom: 15px;
	line-height: 120%;
	color: #49464a;
    font-family: 'Uni Neue Bold', sans-serif;
	text-transform: uppercase;
}

#media p.date {
    color: #7f631e;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Uni Neue Regular', sans-serif;
    line-height: 100%;
    margin: 0 0 25px 0;
}

#media p {
    margin: 0 0 10px 0;
}

#media a, #media a:link, #media a:visited {
    text-decoration: underline;
    font-family: 'Uni Neue Bold', sans-serif;
	text-transform: uppercase;
	color: #000000;
}

#media a:hover {
    text-decoration: none;
}

#media .col-md-offset-2.col-md-8.col-sm-12 {
    text-align: center;
}

#media .btn {
    background: #000000;
    color: #efc64b !important;
    font-size: 16px;
    padding: 20px 30px;
    margin-top: 34px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: 'Uni Neue Bold', sans-serif;
}

#media .btn:hover {
    color: #000000 !important;
}

.media-body i.fa.fa-chevron-right {
	color: #7f631e''
}

/* Jobs section */

#jobs {
	padding: 80px 0 70px;
}

#jobs h2 {
    font-family: 'Uni Neue Regular', sans-serif;
	text-align: center;
	font-size: 36px;
	color: #00000c;
}

#jobs .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}


#jobs .btn {
    background: #000000;
    color: #efc64b !important;
    font-size: 16px;
    padding: 20px 30px;
    margin-top: 34px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: 'Uni Neue Bold', sans-serif;
}

#jobs .btn:hover {
    color: #000000 !important;
}

/* magazine section */

.magazine {
	padding: 80px 0 70px;
}

.magazine h2 {
    font-family: 'Uni Neue Regular', sans-serif;
	text-align: center;
	font-size: 36px;
	color: #00000c;
}

.magazine .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}


.magazine .btn {
    background: #000000;
    color: #efc64b !important;
    font-size: 16px;
    padding: 20px 30px;
    margin-right: 20px;
    margin-top: 34px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none !important;
    font-family: 'Uni Neue Bold', sans-serif;
}

.magazine .btn:hover {
    color: #000000 !important;
}
.mag_volume{font-size: 22px;color:#fff;text-align: center;}
.mag_container{text-align: center;position:relative;top:-300px;margin-bottom:-240px;}
.mag_content p{text-align: center;margin-top:60px;font-size: 16px;}
/* Graduate program section */

#graduate {
	padding: 120px 0;
}

/* News Listing Page */

#news-feature {
  background:  #f0f0ee;
	padding: 100px 0 120px;
}

#news-feature h1 {
    font-size: 36px;
    text-transform: none;
    margin-bottom: 50px;
}

#news-feature .media-object {
    margin-bottom: 40px;
}

#news-feature .media-object img {
  position: relative;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}

#news-feature .media-object span.media-price {
  position: absolute;
  background-color: #ffffff;
  color: #222;
  font-size: 20px;
  font-weight: bold;
  padding: 6px 20px;
  top: 50%;
  left: 3%;
}

#news-feature h3.media-heading {
    font-size: 26px;
    font-weight: 700;
	margin-bottom: 15px;
	line-height: 120%;
	color: #49464a;
    font-family: 'Uni Neue Bold', sans-serif;
	text-transform: uppercase;
}

#news-feature p.date {
    color: #7f631e;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Uni Neue Regular', sans-serif;
    line-height: 100%;
    margin: 0 0 25px 0;
}

#news-feature p {
    margin: 0 0 10px 0;
}

#news-feature a, #news-feature a:link, #news-feature a:visited {
    text-decoration: underline;
    font-family: 'Uni Neue Bold', sans-serif;
	text-transform: uppercase;
	color: #000000;
}

#news-feature a:hover {
    text-decoration: none;
}


/* News Article Page */

#news-intro {
	padding: 120px 0 20px;
}

.news-title {
	margin: 50px 0;
}

.news-title p.date {
	color: #7f631e;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Uni Neue Regular', sans-serif;
    line-height: 100%;
    margin: 0 0 25px 0;
}

.news-header {
	margin: 50px 0;
}

.news-header p {
    font-size: 24px;
    line-height: 140%;
	margin-bottom: 0px;
}

.news-content  {
   	padding: 100px 0;
}

.news-content p {
    font-size: 16px;
}

.news-content .social {
    float: left;
	display: block;
	width: 100%;
    padding: 10px 0px;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
}

.news-content .social img {
    margin: 0 0 0 20px;
}

.news-content .tags {
    float: left;
	display: block;
	width: 100%;
    padding: 10px 0px;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
}

.news-content .tags a, .news-content .tags a:link, .news-content .tags a:visited {
	font-size: 14px;
	text-transform: none;
    font-family: 'Uniform', sans-serif;
}

.news-content .back {
    float: left;
    padding: 0px;
	font-size: 14px;
	text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
}

.news-content .back .btn {
    background: #f0f0ee;
    color: #000000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}


/* Related Section */

#related {
	padding: 50px 0 60px;
}



/* feature section */

#feature {
	padding: 120px 0px;
}

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	padding: 0px;
	max-height:270px;
	width: 23%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

.grid figure figcaption {
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* feature hover effects */

figure.effect-feature {
	background: #3ea7ab;
}

figure.effect-feature img,
figure.effect-feature h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-feature img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-feature h2 {
	position: absolute;
    bottom: 40px;
    left: 0;
    line-height: 148%;
    padding: 0px 0;
    margin: 0px;
    text-align: left;
    font-size: 38px;
    font-family: 'Uni Neue Bold', sans-serif;

}

figure.effect-feature h2 span {
	background-color: #ffffff;
	  color: #000000; 
	  display: inline;
	  padding: 0 10px;
    word-spacing: 2px;
	  box-decoration-break: clone;
	  -webkit-box-decoration-break: clone;
}


figure.effect-feature p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	
}

figure.effect-feature p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
	
}

figure.effect-feature:hover img {
	
}

figure.effect-feature:hover h2 {
	
}

figure.effect-feature:hover p {
	
	
}


/* DVA feature section */

#dva-feature {
	padding: 120px 0px;xw
}

#dva-feature .grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
#dva-feature .grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	padding: 0px;
	max-width: 640px;
	max-height: 275px;
	width: 48%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}

#dva-feature .grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 1;
}

#dva-feature .grid figure figcaption {
	padding: 0;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

#dva-feature .grid figure figcaption::before,
#dva-feature .grid figure figcaption::after {
	pointer-events: none;
}

#dva-feature .grid figure figcaption,
#dva-feature .grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
#dva-feature .grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

#dva-feature .grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

#dva-feature .grid figure h2 span {
	font-weight: 800;
}

#dva-feature .grid figure h2,
#dva-feature .grid figure p {
	margin: 0;
}

#dva-feature .grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* DVA feature hover effects */

figure.effect-dva-feature {
	background: #3ea7ab;
}

figure.effect-dva-feature img,
figure.effect-dva-feature h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-dva-feature img {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure.effect-dva-feature h2 {
	position: absolute;
    bottom: 40px;
    left: 0;
    line-height: 148%;
    padding: 0px 0;
    margin: 0px;
    text-align: left;
    font-size: 38px;
    font-family: 'Uni Neue Bold', sans-serif;

}

figure.effect-dva-feature h2 span {
	background-color: #ffffff;
	  color: #000000; 
	  display: inline;
	  padding: 0px 20px;
	  box-decoration-break: clone;
      word-spacing: 5px;
	  -webkit-box-decoration-break: clone;
}


figure.effect-dva-feature p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 30px;
	
}

figure.effect-dva-feature p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
}

figure.effect-dva-feature:hover img {
	
}

figure.effect-dva-feature:hover h2 {
	
}

figure.effect-dva-feature:hover p {
}


/* Enquiries */

#enquiries {
	padding: 40px 0;
}

.enquiries-left {
    background: #49464a;
    padding: 60px 50px;
	min-height: 450px;
}

.enquiries-left h2 {
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	margin: 0px;
	font-family: 'Uni Neue Regular', sans-serif;
}

.enquiries-left h5 {
	color: #fff;
    font-family: 'Uniform', sans-serif;
	font-size: 30px;
}

.enquiries-left p {
	color: #fff;
}

.enquiries-left a {
	color: #fff;
	font-size: 20px;
}

.enquiries-left .col-md-6 p {
	color: #fff;
	margin-bottom: 0px;
}

.enquiries-left .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

.enquiries-left .links .btn {
    background: #000000;
    color: #efc64b;
    font-size: 16px;
    padding: 20px 30px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

.enquiries-left  .links .btn:hover {
    color: #000000;
}


.enquiries-right {
    background: url(../images/small-map.jpg);
    position: relative;
    color: #999;
    padding: 100px 0 90px;
    background-position: 0px 50%;
    background-size: cover;
	min-height: 450px;
    display: table;
}


.enquiries-right .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;
}

.enquiries-right .links .btn {
    background: #000000;
    color: #efc64b;
    font-size: 16px;
    padding: 20px 30px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

.enquiries-right  .links .btn:hover {
    color: #000000;
}




/*filter css*/
.filter-wrapper {
    width: 100%;
    margin-bottom: 42px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    color: #666;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  color: #C21500;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}


/* Video section  */

#video {
    background: #e1e1de;
    padding: 0px 0px 20px;
}

#video .ms-partialview-template .ms-slide-info {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

#video .ms-info {
    width: 80%;
    float: left;
}


#video .ms-info h3 {
	color: #524a47;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
    line-height: 100%;
    margin: 0 0 10px 0;
    padding: 0px;
}

#video .ms-info p.date {
	color: #ac8a38;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'Uni Neue Regular', sans-serif;
    line-height: 100%;
    margin: 0 0 25px 0;
}

#video .ms-info .btn {
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    padding: 13px 20px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    float: left;
    font-family: 'Uni Neue Bold', sans-serif;
	margin: 0 10px 0 0;
}

#video .ms-share {
    width: 80%;
    float: left;
}

#video .video-btn .row {
	text-align: center;
    border-top: 1px solid #d8d8d4;
    padding: 30px;
    margin-top: 30px;
}

#video .video-btn .btn {
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    padding: 13px 20px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}
.ms-container {
    top: -37px;
    margin-top: 37px !important;
}

/* Footer section  */
footer {
  background-color: #49464a;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 80px;
}

footer .social {
  text-align: center;
  margin: 50px 0px;
}

footer h3, footer h3 a, footer h3 a:link, footer h3 a:visited {
  	color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Uni Neue Bold', sans-serif;
}

footer p {
    font-size: 14px;
    line-height: 140%;
	color: #fff;
	margin-bottom: 8px;
	font-family: 'Uni Neue Regular', sans-serif;

}

footer li, footer li a, footer li a:link, footer li a:visited {
    list-style: none;
    color: #fff;
    font-size: 14px;
    padding-bottom: 8px;
    line-height: 140%;
    font-family: 'Uni Neue Regular', sans-serif;
}


/* copyright section  */
#copyright {
  background-color: #312f33;
  border-top: 1px solid #5c595c;
  color: #ffffff;
  padding: 40px 45px;
  min-height: 100px;
}

#copyright p {
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 0px;
  font-family: 'Uni Neue Regular', sans-serif;

}

#copyright a {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  padding: 0px 5px;
}

#copyright a:hover {
  text-decoration: underline;
}

#copyright img {
    float: right;
    margin: 0 0 0 15px;
}
.copyrightLinks p{text-align: center;}
.gototop {
  background-color: #242424;
  color: #ffffff;
  font-size: 40px;
  padding: 20px 32px;
  text-align: right;
  transition: all 0.4s ease-in-out;
}
.gototop:hover {
  background-color: #c21500;
  color: #fff;
}

/* social icon section  */
.social-icon {
  padding: 0;
  margin: 0;
}

.social-icon li {
  list-style: none;
  display: inline-block;
}

.social-icon li a {
  border-radius: 100px;
  color: #626262;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 12px;
  margin-right: 10px;
}

.social-icon li a:hover {
  background: #111;
  color: #ffffff;
}


/* Title Section */

#title {
	padding: 50px 0px 40px;
}

#title h1 {
	margin-bottom: 80px;
}

/* Content Section */

#content {
	padding: 40px 0px 120px;
}

.locations {
    background: #fff;
    border: 1px solid #000;
    padding: 30px 20px 10px;
    min-height: 475px;
    margin-bottom: 20px;
}

.locations h2 {
    font-size: 20px;
	line-height: 100%;
}

.locations h3 {
    margin-bottom: 10px;
	line-height: 100%;
}

.locations p {
    margin-bottom: 20px;
}

#close .links {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

#close .links .btn {
    background: #000000;
    color: #efc64b;
    font-size: 14px;
    padding: 12px 20px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

#close .links .btn:hover {
    color: #000000;
}



/* Breadcrumbs */

.breadcrumbs {
    float: left;
    background: #f0f0ee;
    padding: 0px;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
    margin-bottom:35px;
}

.grey .breadcrumbs {
    background: #ffffff;
}

.breadcrumbs .btn {
    background: #f0f0ee;
    color: #000000;
    font-size: 14px;
    padding: 10px 20px;
    margin: 0px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

.grey .breadcrumbs .btn {
    background: #ffffff;
    color: #000000;
}

/* Social Share */

.social {
    float: right;
    padding: 10px 0px;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
    font-family: 'Uni Neue Bold', sans-serif;
}

.social img {
    margin: 0 0 0 20px;
}

/* Sub Menu */

.sub-menu {
	margin: 90px 0 0 0;	
}

.sub-menu li.sub-header {
    color: #00000c;
    text-transform: none;
    padding: 0px;
    margin: 0 0 20px 0;
    font-size: 26px;
	list-style: none;
    font-family: 'Uni Neue Regular', sans-serif;
}

.sub-menu li {
    color: #00000c;
    text-transform: none;
    padding: 0px;
    margin: 0 0 10px 0;
    font-size: 14px;
	list-style: none;
    font-family: 'Uni Neue Regular', sans-serif;
}

/* Body Content */

.col-md-9.body-content {
	margin: 90px 0 0 0;	
}


/* Green Callouts */

.green-link {
    width: 100%;
    background: #3ea7ab;
    margin: 0 0 10px 0;
    padding: 25px 20px;
	-webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.35);
}

.green-link h3 {
    font-family: 'Uni Neue Regular', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 100%;
}

.green-link a {
    font-family: 'Uni Neue Regular', sans-serif;
	color: #000000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 100%;
}

.green-link hr {
    max-width: 45px;
    height: 5px;
    width: 100%;
    background: #ffffff;
    margin: 0 0 20px;
    float:none;
}

/* Assited Nav Results Filters */


#filters {
	background: #f0f0ee;
	text-align: center;
	padding: 60px 0;
}

/* Assited Nav Results */

#results {
    padding: 80px 0px 160px;
}

#results h1 {
	font-size: 36px;
	text-transform: none;
	margin-bottom: 60px;
}

.results-box {
    border: 1px solid #000;
    padding: 40px 30px;
    margin: 0 0 20px;
    min-height: 361px;
}

.results-box h3 {
    font-family: 'Uni Neue Regular', sans-serif;
	color: #49464a;
	font-size: 26px;
	text-transform: uppercase;
	line-height: 100%;
}

.results-box a {
    font-family: 'Uni Neue Bold', sans-serif;
	color: #000000;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 100%;
	margin: 0px;
}

/* Contact Page */

.contact-title h3 {
    margin-bottom: 40px;
}

.contact-top p {
    margin-bottom: 0px;
}

.contact-top a, .contact-top a:link, .contact-top a:visited {
	text-decoration: underline;
	font-size: 20px;
    color: #7f631e;
}

/* Online forms section */

.forms .links {
    margin: 120px auto 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

.forms .links .btn {
    background: #000000;
    color: #efc64b;
    font-size: 16px;
    padding: 20px 30px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

.forms .links .btn:hover {
    color: #000000;
}

.forms .small-links {
    margin: 20px auto;
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 0px;
}

.forms .small-links .btn {
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}

.forms .small-links .btn:hover {
    color: #000000;
}


/* Background colors */

.grey {
    background: #f0f0ee;
}

hr.grey {
    margin: 60px 0 100px;
    background: #e3e2df;
}

/* Padding */

.no-padding {
	padding: 0;	
}

.padding-right {
	padding: 0 60px 0 0;	
}

.padding-left {
	padding: 0 0 0 60px;	
}

/* Images */

img.full-width {
	width: 100%;
	height: inherit;
}