/* ------------------------------------- 
		FONTS 
------------------------------------- */


@font-face {
  font-family: 'Uni Neue Regular';
  src: url('../fonts/UniNeueRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueRegular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueRegular.svg#baa704e7bd19ed930e154822715e96ee') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}



@font-face {
  font-family: 'Uni Neue Regular';
  src: url('../fonts/UniNeueRegular Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueRegular Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueRegular Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueRegular Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueRegular Italic.svg#d75e8ed4afb5b1df9cdfa49dd8486514') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Uni Neue Book';
  src: url('../fonts/UniNeueBook.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBook.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBook.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBook.svg#fd9ee11fa5b962efa7ef5462095e753b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}


@font-face {
  font-family: 'Uni Neue Book';
  src: url('../fonts/UniNeueBold Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBook Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBook Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBook Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBook Italic.svg#0df71b6bfd65ea71958fb5918d97da2b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  500;
}



@font-face {
  font-family: 'Uni Neue Bold';
  src: url('../fonts/UniNeueBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBold.svg#79a59e10b8415489b5698cadb915b58f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}


@font-face {
  font-family: 'Uni Neue Bold';
  src: url('../fonts/UniNeueBold Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBold Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBold Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBold Italic.svg#72827a2ed3f20db1d1af42189521b47f') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}


@font-face {
  font-family: 'Uniform';
  src: url('../fonts/Uniform.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Uniform.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Uniform.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Uniform.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Uniform.svg#f19516d11f2946f894070e92fcb56b6d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Uniform-Bold';
  src: url('../fonts/Uniform Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Uniform Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Uniform Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Uniform Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Uniform Bold.svg#46f37a871aa84c35868873410a81dc42') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}





/* ------------------------------------- 
		TYPOGRAPHY 
------------------------------------- */
h1, h2, h3, h4, h5, h6 {
	line-height: 140%;
	margin: 0px 0px 15px 0px;
	color: #000000;
    font-family: 'Uni Neue Regular', sans-serif;
	text-align:left;
}
h1 {
	font-size: 63px;
	font-weight: 400;
	line-height: 100%;
	text-transform: uppercase;
    font-family: 'Uni Neue Regular', sans-serif;
}
h2 {
	font-size: 24px;
	font-weight: 700;
    font-family: 'Uniform-Bold', sans-serif;
}
h3 {
	font-size: 16px;
	font-weight: 700;
	    font-family: 'Uniform-Bold', sans-serif;
}
h4 {
	font-size: 18px;
	margin-top: 50px;
	font-weight: 500;
    font-family: 'Uniform-Bold', sans-serif;

}
h5 {
	font-size: 36px;
	font-weight: 400;
}
h6 {
	font-size: 14px;
	font-weight: 700;
}
p, ul, ol {
	color: #00000c;
    font-family: 'Uniform', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 170%;
    margin-bottom: 25px;
    margin-top: 0;
	text-align:left;
}
ul, ol {
	padding:0 0 0 20px;
}
ul li, ol li {
	margin: 0px 0px 2px 10px;
}
a, a:link, a:visited {
	text-decoration:underline;
	color: #7f631e;
}
a:hover {
	text-decoration:none;
}
hr {
    width: 100%;
    height: 1px;
    background: #ededeb;
    border: 0px;
    margin: 40px auto;
    float:left;
}
