

@font-face {
  font-family: 'Uni Neue Regular';
  src: url('../fonts/UniNeueRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueRegular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueRegular.svg#baa704e7bd19ed930e154822715e96ee') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Uni Neue Regular';
  src: url('../fonts/UniNeueRegular Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueRegular Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueRegular Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueRegular Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueRegular Italic.svg#d75e8ed4afb5b1df9cdfa49dd8486514') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Uni Neue Book';
  src: url('../fonts/UniNeueBook.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBook.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBook.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBook.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBook.svg#fd9ee11fa5b962efa7ef5462095e753b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family: 'Uni Neue Book';
  src: url('../fonts/UniNeueBold Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBook Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBook Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBook Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBook Italic.svg#0df71b6bfd65ea71958fb5918d97da2b') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  500;
}

@font-face {
  font-family: 'Uni Neue Bold';
  src: url('../fonts/UniNeueBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBold.svg#79a59e10b8415489b5698cadb915b58f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Uni Neue Bold';
  src: url('../fonts/UniNeueBold Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/UniNeueBold Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/UniNeueBold Italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/UniNeueBold Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/UniNeueBold Italic.svg#72827a2ed3f20db1d1af42189521b47f') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}


@font-face {
  font-family: 'Uniform';
  src: url('../fonts/Uniform.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Uniform.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Uniform.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Uniform.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Uniform.svg#f19516d11f2946f894070e92fcb56b6d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Uniform-Bold';
  src: url('../fonts/Uniform Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Uniform Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Uniform Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Uniform Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Uniform Bold.svg#46f37a871aa84c35868873410a81dc42') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

body{background:#312f33;color:#fff;padding:150px 15px;font-family: 'Uni Neue Regular';font-size: 14px;}

.item { 
    color: #fff;
    display: inline-block;
    width: 100%;
}

.item h3{margin-top:145px;font-size: 114px;margin-bottom:70px;}

.form-progress-border{height:1px;background:#6f6e71;}
.form-progress{width:33.3333%;background:#3ea7ab;height:5px;}

.intro,
.count{font-family: 'Uniform-Bold';line-height:1.2;}

.radios .radio {
    display: table;
    width: 100%;
    height: 145px;
    cursor: pointer;
    float: left;
    border:1px solid #fff;
}


.radios input[type=radio]{
    display:none;
}

.radios input[type=radio]:checked + .radio{
    background-color:#3ea7ab;
    border:1px solid #3ea7ab;
}

.radios input[type=radio]:hover + .radio{
    background-color:#3ea7ab;
    color:#000;
    border:1px solid #3ea7ab;
}

.radios input[type=radio]:checked + .radio p{color:#000;}

.radios label p{display:table-cell;vertical-align: middle;text-align: center;padding: 15px;font-size: 22px;line-height: 1.2;}

.small{font-size:15px;font-weight: 300;}

.buttons{margin-top:200px;text-align: center;}

.radio_wrap {
    position: relative;
    float: left;
    width: 20%;
    padding: 0px 10px;
}

.btn {
    background: #000000;
    color: #efc64b;
    font-size: 16px;
    padding: 20px 30px;
    margin: 0 15px;
    border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
    border: 0px solid #000000;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Uni Neue Bold', sans-serif;
}


.btn:hover {
    color: #000000 !important;
}


.hvr-bounce-to-top::before{background: #efc64b !important;}

@media (min-width: 1600px) {
  .container {
    width: 1330px;
  }
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
    .radios label p{font-size: 18px;}
    .radio_wrap {width:25%;}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .radio_wrap {width:33.33333%;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .radio_wrap {width:50%;}
    .item h3 {margin-top: 90px;font-size: 90px;}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
     .radio_wrap {width:100%;}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
